/* General Style */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", "sans-serif";
  border: 1rem solid yellow;
  height: auto;
  max-width: 100vw;
  padding: 2rem;
  margin: 0;
}

section {
  margin-bottom: 4rem;
}

h2 {
  font-size: 8vmin;
  margin: 0;
}

ul {
  padding-left: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  width: 200px;
  padding: 1rem;
  border-radius: 20rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 700ms ease-in-out;
}

ul li:hover,
ul li:focus {
  outline: none;
  transform: scale(1.1);
}

/* Monochrome Style */
.bonw {
  border: 2px solid #000;
}

.wonb {
  background: #000;
  color: #fff;
}

.shadow {
  box-shadow: 3px 4px 3px gray;
}

/* Grayzone Style */
.grayheader {
  color: #47506e;
}

.grayzone li {
  background: #d7d8db;
}

.grayzone .gray {
  color: #444e6e;
}

.grayzone .white {
  color: white;
}

/* Singlecolor Style */
.singleheader {
  color: #575ff2;
}

.singlecolor li {
  border: 3px solid #6b8df2;
  outline: none;
}

.blue1 {
  background: hsl(237deg, 85.6%, 64.5%);
}

.blue2 {
  background: hsl(237deg, 85.6%, 74.5%);
}

.blue3 {
  background: hsl(237deg, 85.6%, 84.5%);
}

/* Colorfest Style */
.colorheader {
  background: linear-gradient(
    45deg,
    #f20530,
    pink,
    yellow,
    #fbddb5,
    #e6a289,
    #fe5e1c
  );
  background-clip: text;
  background-position: center;
  color: transparent;
}

.ronp {
  background: #590202;
  color: #f28d95;
}

.gong {
  background: #05f29b;
  color: #025940;
  border: 2px solid #05f2af;
}

.vony {
  background: #f2e205;
  color: #131ff2;
}
